<nav class="bg-gray-700 py-4 px-6 text-gray-200 flex items-center justify-between">
  <div>
    <button data-action="click->toggle#toggleSidebar">
      <%= inline_svg_tag("hamburger")%>
    </button>
    <%#= button_to "text", model %>
  </div>

  <div class="flex items-center relative">
    <input type="text" name="" id="" class="rounded-md h-8 p-2 outline outline-gray-600 bg-gray-700" placeholder="Search for projects">
    <%= inline_svg_tag("search", class: "absolute right-0 cursor-pointer")%>
    <%#= button_to "text", model %>
  </div>

  <div>
    <%= inline_svg_tag("notification")%>
    <%#= button_to "text", model %>
  </div>

  <div class="relative cursor-pointer" data-action="click->toggle#toggleProfileCard">
    <%= inline_svg_tag("user")%>
    <%=  render "shared/profile_card"%>
  </div>
</nav>